<h2>Blackjack</h2>
<h3><strong><%= @result %></strong></h3>

<h4><strong>Dealer Cards:
<% if session[:dealer_flag] == "dealer_turn" || session[:dealer_flag] == "finish" %>
  <%= total(session[:dealer_hand]) %></strong></h4>
  <ul class="display_cards">
    <% session[:dealer_hand].each_with_index do |card| %>
      <li><%= card_image(card) %></li>
    <% end %>
  </ul>
<% else %>
  ??</strong></h4>
  <ul class="display_cards">
    <li><%= card_image(session[:dealer_hand].first) %></li>
    <li><img src='/images/cards/cover.jpg' class='card_image'></li>
  </ul>
<% end %>
<br/>

<h4><strong>
  <%= "#{session[:username]}'s Cards: " %> <%= total(session[:player_hand]) %>
</strong></h4>
<ul class="display_cards">
  <% session[:player_hand].each do |card| %>
    <li><%= card_image(card) %></li>
  <% end %>
</ul>
<br/>

<% if session[:dealer_flag] %>
  <h4><strong>Deal Again?</strong></h4>
  <a href="/deal_again" class="btn btn-primary">Yes</a>
  <a href="/game_over" class="btn">No</a>
<% else %>
  <form action="/game/player/hit" method="post" class="hit_stay_btn">
    <input type="submit" class="btn btn-primary" value="Hit">
  </form>
  <form action="/game/player/stand" method="post" class="hit_stay_btn">
    <input type="submit" class="btn btn-primary" value="Stand">
  </form>
<% end %>