<div id="game">
  <div class="text-center">
    <% if @dealer_flag %>
      <div class="deal-again-box">
        <span id="deal-again">Deal Again?</span>
        <a href="/bet" class="btn btn-primary">Yes</a>
        <a href="/game_over" class="btn">No</a>
      </div>
    <% end %>
    </br>
    <div class="<%= @error || @neutral || @success ? "dealer-cards-alert" : "dealer-cards" %>">
      <% if @dealer_flag == "dealer_turn" || @dealer_flag == "finish" %>
        <div class="total"><%= total(dealer_hand) %></div>
        <ul class="display-cards">
          <li><%= first_card_image(dealer_hand.first) %></li>
          <% dealer_hand.each_with_index do |card, index| %>
            <% next if index == 0 %>
            <li><%= card_image(card, index) %></li>
          <% end %>
        </ul>
      <% else %>
        <div class="total">---</div>
        <ul class="display-cards">
          <li><%= first_card_image(dealer_hand.first) %></li>
          <li><img src='/images/cards1/cover.png' class='card-row'></li>
        </ul>
      <% end %>
    </div>
    
    <div class="player-cards">
      <div class="total">
        <%= (4..9).to_a.include?(total(player_hand)) ? ("0" + total(player_hand).to_s) : total(player_hand) %>
      </div>
      <ul class="display-cards">
        <li><%= first_card_image(player_hand.first) %></li>
        <% player_hand.each_with_index do |card, index| %>
          <% next if index == 0 %>
          <li><%= card_image(card, index) %></li>
        <% end %>
      </ul>
    </div>
  </div>
  
  <div id="footer">
    <div id="footer-content">
      <% unless @dealer_flag %>
        <form id="hit-form" action="/game/player/hit" method="post" class="hit-stay-btn">
          <input type="submit" class="btn btn-success custom" value="Hit">
        </form>
        <form id="stay-form" action="/game/player/stand" method="post" class="hit-stay-btn">
          <input type="submit" class="btn btn-warning custom" value="Stand">
        </form>
      <% end %>
    </div>
  </div>
</div>